.header
  display: grid
  grid-template-columns: repeat(2, 1fr)
  height: 80px
  width: 100%
  top: 0px
  left: 0px
  background: #FFFFFF
  box-shadow: 0px 10px 40px rgba(26, 26, 26, 0.4)

  .logo
    justify-self
    display: flex
    height: 22px
    weight: 22px
    margin: 30px 10px 29px 30px

  .logo:hover
    cursor: pointer
    -webkit-box-shadow: 0px 0px 21px -2px #04a
  
  .title
    position: absolute
    width: 104px
    height: 22px
    left: 62px
    top: 29px
    font-family: Posterama
    font-style: normal
    font-weight: 900
    font-size: 16px
    line-height: 21px

  .title:hover
    text-decoration: underline
    cursor: pointer

  .button
    justify-self: end
    margin: 10px 10px 0 0
    width: 161px
    height: 60px
    color: white
    background: #E31C79
    font-family: Posterama
  
    
  .arrow
      position: absolute
      margin-left: 10px
      width: 16px
        
      
    
    
  